/*
自定义 所属部门的 表格样式
*/

.mySpace .ant-space {
    display: flex;
    justify-content: space-between;
}

.mySpace .ant-space-item {
    flex-grow: 1;
    flex-basis: 33.33%;
}

.mySpace .myCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
